* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(imgIndex/DeWatermark.ai_1725906835555.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.contenedor {
    position: relative;
    width: 400px;

    border: 2px solid rgba(252, 251, 251, 0.675);

    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor h2 {
    font-size: 2.3rem;
    color: rgb(248, 242, 242);
    text-align: center;
    border-bottom: 2px solid white;
}

.input-contenedor {
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid rgb(237, 233, 233);
}

.input-contenedor label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-150%);
    color: rgb(247, 243, 243);
    font-size: 1rem;
    pointer-events: none;
    transition: 3s;
    font-weight: bold;

}


input :focus~label,
input :valid~label {
    top: -5px;
}

.input-contenedor input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: - 35px 0 5 px;
    color: rgb(255, 255, 255);
}

.input-contenedor i {
    position: absolute;
   
    font-size: 1.6rem;
    top: 19px;
    right: 8px;

}

.olvidar {
    margin: -15px 0 15px;
    font-size: .9em;
    color: white;
    display: flex;
    justify-content: center;

}

.olvidar label input {
    margin: 3px;

}

.olvidar label a {
    color: rgb(237, 228, 228);
    text-decoration: none;
    transition: 0s;
    font-size: .9em;

}

.olvidar label a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 45px;
    border-radius: 40px;
  
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: s;

}

button {
    opacity: .9;

}
.logo {
    position: absolute; /* Coloca el logo en la parte superior absoluta del contenedor */
    top: -50px; /* Desplaza el logo hacia arriba */
    left: 50%;
    transform: translateX(-50%); /* Centra el logo horizontalmente */
    width: 115px;
    height: 115px;
    border-radius: 50%; /* Hace que el contenedor del logo sea circular */
    overflow: hidden; /* Asegura que la imagen no se salga del contenedor circular */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra para darle profundidad */
    background-color: white; /* Añade un fondo blanco para que el logo sea visible si hay un fondo oscuro */
}
