body {
    background-color: #AF6543;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #ffffff;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;


}

button:hover {
    background: #ffffff;
}

button>svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

button:hover svg {
    transform: translateX(5px);
}

button:active {
    transform: scale(0.95);
}

header h1 {
    font-size: 50px;
    color: #333333;
    margin-bottom: 20px;
}

.placa, .titulo_tipo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.titulo_placa label, .titulo_tipo label {
    font-size: 30px;
    font-weight: bold;
}

#placa, #tipo_vehiculo {
    padding: 15px;
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-left: 15px;
    text-align: center;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f5f5f5;
    font-size: 18px;
}

td {
    font-size: 16px;
}

.btn-conteiner {
    display: flex;
    justify-content: center;
}

.btn-content {
    background-color: #AF6543;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 40px;
}

.btn-content:hover {
    background-color: #914a2c;
}

.icon-arrow {
    margin-left: 10px;
    transition: margin-left 0.3s ease;
}

.btn-content:hover .icon-arrow {
    margin-left: 20px;
}

.btn-content:active {
    transform: scale(0.95);
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:nth-child(odd) {
    background-color: #fff;
}